/* Global Box-Sizing */
*, ::after, ::before {
    box-sizing: border-box;
}

/* Sections */
section {
    padding: 60px 0;
    overflow: hidden;
}

.section-bg {
    background-color: #1a1814;
}

.section-title {
    padding-bottom: 40px;
    text-align: center;
}

.section-title h2 {
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    margin: 0 0 5px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #aaaaaa;
    font-family: "Poppins", sans-serif;
}

.section-title p {
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    font-family: "Playfair Display", serif;
    color: #cda45e;
}

/* Containers */
.container {
    width: 100%;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

/* Flexbox */
.row {
    display: flex;
    flex-wrap: wrap;
    margin-top: -0.75rem;
    margin-right: -0.75rem;
    margin-left: -0.75rem;
}

.row > * {
    width: 100%;
    max-width: 100%;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    margin-top: 0.75rem;
}

@media (min-width: 992px) {
    .col-lg-6 {
        flex: 0 0 auto;
        width: 50%;
    }
    
    .col-lg-12 {
        flex: 0 0 auto;
        width: 100%;
    }
}

/* Menu */
.menu #menu-flters {
    padding: 0;
    margin: 0 auto;
    list-style: none;
    text-align: center;
    border-radius: 50px;
}

.menu #menu-flters li {
    cursor: pointer;
    display: inline-block;
    padding: 8px 12px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 10px;
    transition: all ease-in-out 0.3s;
    border-radius: 50px;
    font-family: "Playfair Display", serif;
}

.menu #menu-flters li:hover, .menu #menu-flters li.filter-active {
    color: #cda45e;
}

.menu .menu-item {
    margin-top: 50px;
}

.menu .menu-img {
    width: 70px;
    border-radius: 50%;
    float: left;
    border: 5px solid rgba(255, 255, 255, 0.2);
    margin-right: 15px;
}

.menu .menu-content {
    position: relative;
    padding-left: 85px;
}

.menu .menu-content a {
    font-weight: bold;
    color: #fff;
    font-family: "Poppins", sans-serif;
}

.menu .menu-content span {
    float: right;
    font-weight: bold;
    color: #cda45e;
}

.menu .menu-ingredients {
    margin-left: 85px;
    font-style: italic;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    color: rgba(255, 255, 255, 0.5);
}

/* Images */
img, svg {
    vertical-align: middle;
}
